<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="assets/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="assets/js/jszip.min.js"></script>
<script type="text/javascript" src="assets/js/vfs_fonts.js"></script>
<script type="text/javascript" src="assets/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="assets/js/daterangepicker.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/raportareCabinete.js"></script>
<script type="text/javascript" src="assets/locales/bootstrap-datepicker.ro.min.js"></script>
<div class="page-header">
    <h1 style="color: #1789ab;">Raport Cabinete</h1>
</div>

<br>
<div class="form-group" style="float:left;width: 30%">
    <label style="float: left;margin-right: 17px;padding-top: 7px;" for="filtru_luna">Luna:</label>
    <select style="float:left; max-width:45%;margin-right: 8px;" class="form-control" id="filtru_luna">
        <option value="01">Ianuarie
        <option value="02">Februarie
        <option value="03">Martie
        <option value="04">Aprilie
        <option value="05">Mai
        <option value="06">Iunie
        <option value="07">Iulie
        <option value="08">August
        <option value="09">Septembrie
        <option value="10">Octombrie
        <option value="11">Noiembrie
        <option value="12">Decembrie
    </select>

</div>

<div style="font-size:12px; line-height:2.3em;">
    <table id="tabel" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="default_curs">Cabinet</th>
                <th class="default_curs">Service(total)</th>
                <th class="default_curs">Service(bilateral)</th>
                <th class="default_curs">Recarcasari(total)</th>
                <th class="default_curs">Recarcasari(bilateral)</th>
                <th class="default_curs">ITE(total)</th>
                <th class="default_curs">ITE(bilateral)</th>
                <th class="default_curs">Olive (total)</th>
                <th class="default_curs">Olive (bilateral)</th>
                <th class="default_curs">Olive (elastica)</th>
                <th class="default_curs">Olive (dura)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

        <tfoot class="default_curs">
            <tr>
                <th>Cabinet</th>
                <th>Service(total)</th>
                <th>Service(bilateral)</th>
                <th>Recarcasari(total)</th>
                <th>Recarcasari(bilateral)</th>
                <th>ITE(total)</th>
                <th>ITE(bilateral)</th>
                <th>Olive (total)</th>
                <th>Olive (bilateral)</th>
                <th>Olive (elastica)</th>
                <th>Olive (dura)</th>
            </tr>
        </tfoot>

    </table>

</div>

<br>
<br>