<script>
    $(
        function () {
            $("[id^=submit]").bind('keyup', function () {
                $('#submit-holder' + this.id.match(/\d+$/)[0]).submit();
            });
        }
    );
    $(
        function () {
            $("[id^=time]").one("click", function () {
                var time = new moment().format('DD/MM/YYYY');
                $('#time-holder' + this.id.match(/\d+$/)[0]).val(time);
            });
        }
    );

    $(
        function () {
            $("[id^=recarcasare]").one("click", function () {
                var time = new moment().format('DD/MM/YYYY');
                $('#recarcasare-holder' + this.id.match(/\d+$/)[0]).val(time);
            });
        }
    );

    function doPrint() {
        window.print();
    }

</script>


<div class="page-header">
    <img class="visible-print-block" style="float:right;" src="/assets/img/clarfon-logo.jpg">
    <h1 style="color:#337ab7;">Fisa Recarcasare Clarfon </h1>
    <span class="visible-print-block" style="clear:both;margin-left: 10px;font-size:14px;">Operator de date cu caracter
        personal
        nr. 23594
    </span>

    <hr class="visible-print-block">


    <h3 class="no-print" style="color:#337ab7;clear: both;">Pacient:
        <span class="" style="color:#337ab7;">
            <input style="border: none;" ng-model="newNume" readonly>
        </span>

    </h3>

    <a class="btn btn-info btn-sm hidden-print" style="float:right;" ng-click="Back()">Pagina Precedenta</a>
    <h3 class="visible-print-block" style="color:#337ab7;clear: both;">IV. Constatare
        Laborator:
        <span class="" style="color:#337ab7;">
            <input style="border: none;font-size:18px;" ng-model="newNume" readonly>
        </span>

    </h3>


    <div class="visible-print-block">

        <div style="clear:both;margin-top:-46px;float:right;max-width: 12%;margin-right: 69px;">
            <span class="">Cabinet:</span>
            <span class="" style="color:#337ab7;">
                <input style="border: none;" ng-model="newCabinet" readonly>
            </span>
        </div>
        <div style="clear:both;margin-top:-48px;float:right;max-width: 10%;">
            <span style="max-width: 15%;" class="">Inregistrat:</span>
            <span class="" style="color:#337ab7;">
                <input style="border: none;" ng-model="newData_Inregistrare" readonly>
            </span>
        </div>

        <div>
            <span style="max-width: 25%;margin-top:110px" class="">Denumire aparat(e):</span>
            <span class="" style="color:#337ab7;">
                <input style="border: none;width: 80%;" ng-model="newDenumire_Aparat" readonly>
            </span>
        </div>
        <div>
            <span style="max-width: 25%;" class="">Serie aparat(e):</span>
            <span class="" style="color:#337ab7;">
                <input style="border: none;width: 80%;" ng-model="newSerie_Aparat" readonly>
            </span>
        </div>
        <div style="float:right;width: 12%;margin-right: 170px; margin-top: -90px;">
            <span style="max-width: 15%;" class="">Nr. Comanda:</span>
            <span class="" style="color:#337ab7;">
                <input style="border: none;" ng-model="Nr_Comanda_Recarcasare" readonly>
            </span>
        </div>


    </div>
</div>
<br class="hidden-print">

<div class="row hidden-print">
    <div class="col-sm-12">


        <!-- Cabinet ------------------------------------------------------------------------>

        <div class="accesorii">
            <form style="margin-top:-18px;" class="optiuni" novalidate>
                <label>Nr. Comanda:</label>
                <input style="text-align:center;" readonly class="form-control" name="nr_comanda_recarcasare" ng-model="Nr_Comanda_Recarcasare"
                    required>
            </form>
            <form style="margin-top:-18px;" class="optiuni" novalidate>
                <label>Certif. Garantie:</label>
                <input readonly class="form-control" ng-class="newGarantie" name="garantie" ng-model="newGarantie"
                    required>
            </form>
            <form class="optiuni" novalidate>
                <label>Cutie:</label>
                <input readonly class="form-control" ng-class="newCutie" name="cutie" ng-model="newCutie" required>
            </form>
            <form class="optiuni" novalidate>
                <label>Baterie:</label>
                <input readonly class="form-control" ng-class="newBaterie" name="baterie" ng-model="newBaterie"
                    required>
            </form>
            <form class="optiuni" novalidate>
                <label>Mulaj:</label>
                <input readonly class="form-control" ng-class="newMulaj" name="mulaj" ng-model="newMulaj" required>
            </form>
            <form style="margin-top:-18px;" class="optiuni" novalidate>
                <label style="color:#f00;">Taxa Urgenta:</label>
                <input readonly class="form-control" ng-class="newTaxa_Urgenta_Cabinet" name="taxa_urgenta_cabinet"
                    ng-model="newTaxa_Urgenta_Cabinet" required>
            </form>
        </div>

        <form style="width:15%;float:left;margin-right:10px;text-align: center;" name="editRecarcasare.data_inregistrareForm"
            class="editPacForm" novalidate>
            <label>Data Inregistrare:</label>
            <input style="cursor: not-allowed;text-align: center;" class="form-control" type="text" name="data_inregistrare"
                ng-model="newData_Inregistrare" readonly>
        </form>

        <form style="width:15%;float:left;margin-right:10px;text-align: center;" name="editRecarcasare.data_estimativaForm"
            class="editPacForm" novalidate>
            <label>Data Estimativa:</label>
            <input style="cursor: not-allowed;text-align: center;" class="form-control" type="text" name="data_estimativa"
                ng-model="newData_Estimativa" readonly>
        </form>

        <form style="width:15%;display: table;margin-right: 10px;text-align: center;" name="editRecarcasare.cabinetForm"
            novalidate>
            <label>Cabinet: </label>
            <input style="cursor: not-allowed;text-align: center;" class="form-control" type="text" name="cabinet"
                ng-model="newCabinet" readonly>
        </form>

    </div>
</div>

<div class="row hidden-print">
    <div class="col-sm-12">
        <form style="width:26%;display: table;float: left;margin-right: 10px;" name="editRecarcasare.numeForm"
            novalidate>
            <label>Nume Pacient:</label>
            <input style="cursor: not-allowed;" class="form-control" type="text" name="nume" ng-model="newNume"
                readonly>
        </form>

        <form style="width:26%;display: table;float: left;margin-right: 10px;" name="editRecarcasare.telefonForm" class="editPacForm"
            novalidate>
            <label>Telefon: </label>
            <input style="cursor: not-allowed;" class="form-control" type="text" name="telefon" ng-model="newTelefon"
                readonly>
        </form>

        <div style="float:right;margin-top:-15px;">
            <p style="margin-bottom: 0px;color:#337ab7;font-weight: 600;font-size: 13px;text-align:center">Aparat(e)
                Ureche</p>
            <form class="optiuni" novalidate>
                <label>Stanga:</label>
                <input style="text-align:center;" readonly class="form-control" ng-class="newU_Stanga" name="u_stanga"
                    ng-model="newU_Stanga" required>
            </form>
            <form class="optiuni" novalidate>
                <label>Dreapta:</label>
                <input style="text-align:center;" readonly class="form-control" ng-class="newU_Dreapta" name="u_dreapta"
                    ng-model="newU_Dreapta" required>
            </form>
        </div>


        <form style="width:50%;float:left;display: table;margin-right: 0;clear:both;" name="editRecarcasare.denumire_aparatForm"
            class="editPacForm" novalidate>
            <label>Denumire aparat(e):</label>
            <input readonly class="form-control" type="text" name="denumire_aparat" ng-model="newDenumire_Aparat"
                required autocomplete="off">
        </form>

        <form style="width:49%;float:left;display: table;margin-right: 0;float:right;" name="editRecarcasare.serie_aparatForm"
            class="editPacForm" novalidate>
            <label>Serie aparat(e):</label>
            <input readonly class="form-control" type="text" name="serie_aparat" ng-model="newSerie_Aparat" required
                autocomplete="off">
        </form>


        <br>

        <form style="margin-bottom: 20px;width:50%;float:left;display: table;clear: left;" name="editRecarcasare.defectiune_reclamataForm"
            novalidate>
            <label>Defectiune Reclamata Pacient:</label>
            <input readonly class="form-control" type="text" name="defectiune_reclamata" ng-model="newDefectiune_Reclamata"
                required autocomplete="off">
        </form>

        <form style="width:49%;float:right;display: table;" name="editRecarcasare.observatii_pacientForm" novalidate>
            <label>Observatii Pacient:</label>
            <input readonly style="resize: none;" class="form-control" type="text" name="observatii_pacient"
                placeholder="Nu s-a completat la inregistrare" ng-model="newObservatii_Pacient" required autocomplete="off">
        </form>

    </div>
</div>

<div class="row hidden-print" style="margin-bottom:20px;">
    <div class="col-sm-12">

        <form style="width:50%;float:left;display:table;clear:left;" name="editRecarcasare.constatare_cabinetForm"
            novalidate>
            <label>Constatare Cabinet:</label>
            <input readonly class="form-control" type="text" name="constatare_cabinet" ng-model="newConstatare_Cabinet"
                required autocomplete="off">
        </form>

        <form style="width:49%;float:right;display: table;" name="editRecarcasare.observatii_cabinetForm" novalidate>
            <label>Observatii Cabinet:</label>
            <input readonly style="resize: none;" class="form-control" type="text" name="observatii_cabinet"
                placeholder="Nu s-a completat la inregistrare" ng-model="newObservatii_Cabinet" required autocomplete="off">
        </form>

    </div>
</div>

<div class="row hidden-print">

    <form id="submit1" ng-submit="editRecarcasare.updateCompletare_Cabinet(newCompletare_Cabinet, editRecarcasare.completare_cabinetForm.completare_cabinet.$valid)"
        class="col-md-12" name="editRecarcasare.completare_cabinetForm" novalidate>
        <label>Completare Cabinet: <em>Aici se pot adauga detalii sau informatii noi, dupa ce fisa a fost inregistrata.
            </em></label>
        <textarea ng-disabled="main.username !== newCabinet" id="submit-holder1" style="resize: none;" class="form-control"
            type="text" name="completare_cabinet" ng-model="newCompletare_Cabinet" placeholder="-" required
            autocomplete="off"></textarea>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgCompletare_Cabinet">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgCompletare_Cabinet }}</div>
        </div>

    </form>
</div>


<br class="hidden-print">

<div class="row hidden-print">
    <div class="col-sm-12">

        <form class="editCabinetDataForm col-md-2 col-md-offset-3" style="display: table;" name="editRecarcasare.iesit_cabinetForm"
            ng-submit="editRecarcasare.updateIesit_Cabinet(newIesit_Cabinet, editRecarcasare.iesit_cabinetForm.iesit_cabinet.$valid)"
            novalidate>
            <label>Trimis catre Logistic:</label>
            <input style="pointer-events: none;" id="time-holder1" class="form-control" type="text" name="iesit_cabinet"
                ng-model="newIesit_Cabinet" readonly>

            <button ng-show="main.username === newCabinet" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm"
                type="submit" name="iesit_cabinet" id="time1">Adauga</button>

            <div class="row show-hide-message" ng-show="editRecarcasare.successMsgIesit_Cabinet">
                <div class="alert alert-success">{{ editRecarcasare.successMsgIesit_Cabinet }}</div>
            </div>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgIesit_Cabinet">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgIesit_Cabinet }}</div>
            </div>
        </form>


        <form class="editCabinetDataForm col-md-2" style="display: table;" name="editRecarcasare.intrat_cabinetForm"
            ng-submit="editRecarcasare.updateIntrat_Cabinet(newIntrat_Cabinet, editRecarcasare.intrat_cabinetForm.intrat_cabinet.$valid)"
            novalidate>
            <label>Sosit de la Logistic:</label>
            <input style="pointer-events: none;" id="time-holder2" class="form-control" type="text" name="intrat_cabinet"
                ng-model="newIntrat_Cabinet" readonly>

            <button ng-show="main.username === newCabinet" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm"
                type="submit" ng-model="newIntrat_Cabinet" name="intrat_cabinet" id="time2">Adauga</button>

            <div class="row show-hide-message" ng-show="editRecarcasare.successMsgIntrat_Cabinet">
                <div class="alert alert-success">{{ editRecarcasare.successMsgIntrat_Cabinet }}</div>
            </div>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgIntrat_Cabinet">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgIntrat_Cabinet }}</div>
            </div>
        </form>


        <form class="editCabinetDataForm col-md-2" style="display: table;" name="editRecarcasare.predat_pacientForm"
            ng-submit="editRecarcasare.updatePredat_Pacient(newPredat_Pacient, editRecarcasare.predat_pacientForm.predat_pacient.$valid)"
            novalidate>
            <label>Data Predare Pacient:</label>
            <input style="pointer-events: none;" id="time-holder3" class="form-control" type="text" name="predat_pacient"
                ng-model="newPredat_Pacient" readonly>

            <button ng-show="main.username === newCabinet" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm"
                type="submit" ng-model="newPredat_Pacient" name="predat_pacient" id="time3">Adauga</button>

            <div class="row show-hide-message" ng-show="editRecarcasare.successMsgPredat_Pacient">
                <div class="alert alert-success">{{ editRecarcasare.successMsgPredat_Pacient }}</div>
            </div>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgPredat_Pacient">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgPredat_Pacient }}</div>
            </div>
        </form>
    </div>
</div>


<hr class="hidden-print">

<br class="hidden-print">

<div class="row hidden-print">

    <!-- Logistic ------------------------------------------------------------------------>

    <h3 style="color:#337ab7;border-bottom: 1px solid;">Completeaza Logistic | Nume Pacient: <input style="width: 35%;border: none;"
            ng-model="newNume" readonly></h3>

    <br class="hidden-print">

    <form class="logisticForm" name="editRecarcasare.log_sositForm" ng-submit="editRecarcasare.updateLog_Sosit(newLog_Sosit, editRecarcasare.log_sositForm.log_sosit.$valid)"
        novalidate>
        <label>Sosit din Cabinet:</label>
        <input style="pointer-events: none;" id="time-holder4" class="form-control" type="text" name="log_sosit"
            ng-model="newLog_Sosit" readonly>

        <button ng-show="main.colete" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            ng-model="newLog_Sosit" name="log_sosit" id="time4">Adauga</button>


        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgLog_Sosit">
            <div class="alert alert-success">{{ editRecarcasare.successMsgLog_Sosit }}</div>
        </div>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgLog_Sosit">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgLog_Sosit }}</div>
        </div>
    </form>

    <form class="logisticForm" name="editRecarcasare.log_plecatForm" ng-submit="editRecarcasare.updateLog_Plecat(newLog_Plecat, editRecarcasare.log_plecatForm.log_plecat.$valid)"
        novalidate>
        <label>Plecat catre Lab. Asamblare:</label>
        <input style="pointer-events: none;" id="time-holder5" class="form-control" type="text" name="log_plecat"
            ng-model="newLog_Plecat" readonly>

        <button ng-show="main.colete" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            ng-model="newLog_Plecat" name="log_plecat" id="time5">Adauga</button>

        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgLog_Plecat">
            <div class="alert alert-success">{{ editRecarcasare.successMsgLog_Plecat }}</div>
        </div>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgLog_Plecat">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgLog_Plecat }}</div>
        </div>
    </form>

    <form class="logisticForm" name="editRecarcasare.log_preluatForm" ng-submit="editRecarcasare.updateLog_Preluat(newLog_Preluat, editRecarcasare.log_preluatForm.log_preluat.$valid)"
        novalidate>
        <label>Preluat din Lab. Asamblare:</label>
        <input style="pointer-events: none;" id="time-holder6" class="form-control" type="text" name="log_preluat"
            ng-model="newLog_Preluat" readonly>

        <button ng-show="main.colete" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            ng-model="newLog_Preluat" name="log_preluat" id="time6">Adauga</button>

        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgLog_Preluat">
            <div class="alert alert-success">{{ editRecarcasare.successMsgLog_Preluat }}</div>
        </div>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgLog_Preluat">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgLog_Preluat }}</div>
        </div>
    </form>

    <form class="logisticForm" name="editRecarcasare.log_trimisForm" ng-submit="editRecarcasare.updateLog_Trimis(newLog_Trimis, editRecarcasare.log_trimisForm.log_trimis.$valid)"
        novalidate>
        <label>Trimis catre Cabinet:</label>
        <input style="pointer-events: none;" id="time-holder7" class="form-control" type="text" name="log_trimis"
            ng-model="newLog_Trimis" readonly>

        <button ng-show="main.colete" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            ng-model="newLog_Trimis" name="log_trimis" id="time7">Adauga</button>

        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgLog_Trimis">
            <div class="alert alert-success">{{ editRecarcasare.successMsgLog_Trimis }}</div>
        </div>
        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgLog_Trimis">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgLog_Trimis }}</div>
        </div>
    </form>

</div>

<br class="hidden-print">

<!-- Service ------------------------------------------------------------------------>

<div class="row hidden-print">
    <h3 class="hidden-print" style="color:#337ab7;border-bottom:1px solid;">Completeaza Laborator Asamblare | Nume
        Pacient:
        <input style="border: none;width: 35%;" ng-model="newNume" readonly></h3>

    <br>

    <form class="editCabinetDataForm col-md-2 col-md-offset-1" style="display: table;" name="editRecarcasare.asamblare_sositForm"
        ng-submit="editRecarcasare.updateAsamblare_Sosit(newAsamblare_Sosit, editRecarcasare.asamblare_sositForm.asamblare_sosit.$valid)"
        novalidate>
        <label>Sosit in Laborator:</label>
        <input style="pointer-events: none;" id="time-holder8" class="form-control" type="text" name="asamblare_sosit"
            ng-model="newAsamblare_Sosit" readonly>

        <button ng-show="main.asamblare" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            name="asamblare_sosit" id="time8">Adauga</button>

        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgAsamblare_Sosit">
            <div class="alert alert-success">{{ editRecarcasare.successMsgAsamblare_Sosit }}</div>
        </div>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgAsamblare_Sosit">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgAsamblare_Sosit }}</div>
        </div>
    </form>

    <form class="editCabinetDataForm col-md-2 col-md-offset-2" style="display: table;" name="editRecarcasare.finalizat_recarcasareForm"
        ng-submit="editRecarcasare.updateFinalizat_Recarcasare(newFinalizat_Recarcasare, editRecarcasare.finalizat_recarcasareForm.finalizat_recarcasare.$valid)"
        novalidate>
        <label>Finalizat Recarcasare:</label>
        <input style="pointer-events: none;" id="time-holder12" class="form-control" type="text" name="finalizat_recarcasare"
            ng-model="newFinalizat_Recarcasare" readonly>

        <button ng-show="main.asamblare" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            name="finalizat_recarcasare" id="time12">Adauga</button>

        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgFinalizat_Recarcasare">
            <div class="alert alert-success">{{ editRecarcasare.successMsgFinalizat_Recarcasare }}</div>
        </div>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgFinalizat_Recarcasare">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgFinalizat_Recarcasare }}</div>
        </div>
    </form>



    <form class="editCabinetDataForm col-md-2 col-md-offset-2" style="display: table;" name="editRecarcasare.asamblare_plecatForm"
        ng-submit="editRecarcasare.updateAsamblare_Plecat(newAsamblare_Plecat, editRecarcasare.asamblare_plecatForm.asamblare_plecat.$valid)"
        novalidate>
        <label>Plecat catre Logistic:</label>
        <input style="pointer-events: none;" id="time-holder9" class="form-control" type="text" name="asamblare_plecat"
            ng-model="newAsamblare_Plecat" readonly>

        <button ng-show="main.asamblare" ng-disabled="editRecarcasare.disabled" class="btn btn-info btn-sm" type="submit"
            name="asamblare_plecat" id="time9">Adauga</button>

        <div class="row show-hide-message" ng-show="editRecarcasare.successMsgAsamblare_Plecat">
            <div class="alert alert-success">{{ editRecarcasare.successMsgAsamblare_Plecat }}</div>
        </div>

        <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgAsamblare_Plecat">
            <div class="alert alert-danger">{{ editRecarcasare.errorMsgAsamblare_Plecat }}</div>
        </div>
    </form>
</div>

<br class="hidden-print">


<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">

        <form id="submit2" style="width:50%;float:left;display:table;clear:left;" ng-submit="editRecarcasare.updateConstatare_Asamblare(newConstatare_Asamblare,
        editRecarcasare.constatare_asamblareForm.constatare_asamblare.$valid)"
            name="editRecarcasare.constatare_asamblareForm" novalidate>
            <label>Constatare Laborator:</label>
            <textarea maxlength="170" ng-disabled="!main.asamblare" style="resize:none;min-height: 95px;" id="submit-holder2"
                class="form-control" type="text" name="constatare_asamblare" ng-model="newConstatare_Asamblare"
                placeholder="-" required autocomplete="off"></textarea>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgConstatare_Asamblare">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgConstatare_Asamblare }}</div>
            </div>
        </form>

        <form id="submit3" style="width:49%;float:right;display: table;" ng-submit="editRecarcasare.updateOperatiuni_Efectuate(newOperatiuni_Efectuate,
        editRecarcasare.operatiuni_efectuateForm.operatiuni_efectuate.$valid)"
            name="editRecarcasare.operatiuni_efectuateForm" novalidate>
            <label>Operatiuni Efectuate:</label>
            <textarea maxlength="168" ng-disabled="!main.asamblare" style="resize:none;min-height: 95px;" id="submit-holder3"
                class="form-control" type="text" name="operatiuni_efectuate" ng-model="newOperatiuni_Efectuate"
                placeholder="-" required autocomplete="off"></textarea>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgOperatiuni_Efectuate">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgOperatiuni_Efectuate }}</div>
            </div>
        </form>
    </div>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">

        <form style="width:50%;float:left;display:table;clear:left;" id="submit4" ng-submit="editRecarcasare.updatePiese_Inlocuite(newPiese_Inlocuite,
        editRecarcasare.piese_inlocuiteForm.piese_inlocuite.$valid)"
            name="editRecarcasare.piese_inlocuiteForm" novalidate>
            <label>Piese Inlocuite:</label>
            <textarea maxlength="170" ng-disabled="!main.asamblare" style="resize:none;min-height: 95px;" id="submit-holder4"
                class="form-control" type="text" name="piese_inlocuite" ng-model="newPiese_Inlocuite" placeholder="-"
                required autocomplete="off"></textarea>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgPiese_Inlocuite">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgPiese_Inlocuite }}</div>
            </div>
        </form>

        <form id="submit5" style="width:49%;float:left;display: table;float:right;" ng-submit="editRecarcasare.updateCod_Componente(newCod_Componente,
        editRecarcasare.cod_componenteForm.cod_componente.$valid)"
            name="editRecarcasare.cod_componenteForm" novalidate>
            <label>Cod componente:</label>
            <textarea maxlength="168" ng-disabled="!main.asamblare" style="resize:none;min-height: 95px;" id="submit-holder5"
                class="form-control" type="text" name="cod_componente" ng-model="newCod_Componente" placeholder="-"
                required autocomplete="off"></textarea>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgCod_Componente">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgCod_Componente }}</div>
            </div>
        </form>

    </div>
</div>

<hr class="visible-print-block">

<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">

        <form id="submit6" style="width:50%;float:left;display: table;" ng-submit="editRecarcasare.updateCost_Recarcasare(newCost_Recarcasare,
editRecarcasare.cost_recarcasareForm.cost_recarcasare.$valid)"
            name="editRecarcasare.cost_recarcasareForm" novalidate>
            <label>Cost total recarcasare:</label>
            <input maxlength="40" ng-disabled="!main.asamblare" id="submit-holder6" class="form-control" type="text"
                name="cost_recarcasare" ng-model="newCost_Recarcasare" placeholder="-" required autocomplete="off">

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgCost_Recarcasare">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgCost_Recarcasare }}</div>
            </div>
        </form>

        <form style="width:24%;float: right;display: table;" novalidate>
            <label>Executant Recarcasare:</label>
            <input maxlength="40" disabled class="form-control" type="text" name="executant_recarcasare" ng-model="newExecutant_Recarcasare"
                placeholder="-" required autocomplete="off">

            <div class="row show-hide-message" ng-show="editService.errorMsgExecutant_Recarcasare">
                <div class="alert alert-danger">{{ editService.errorMsgExecutant_Recarcasare }}</div>
            </div>
        </form>

        <form id="submit13" style="width:24%;float: right;display: table; margin-right: 10px;" ng-submit="editRecarcasare.updateExecutant_Reparatie(newExecutant_Reparatie,
editRecarcasare.executant_reparatieForm.executant_reparatie.$valid)"
            name="editRecarcasare.executant_reparatieForm" novalidate>
            <label>Executant Reparatie:</label>
            <input maxlength="40" ng-disabled="!main.asamblare" id="submit-holder13" class="form-control" type="text"
                name="executant_reparatie" ng-model="newExecutant_Reparatie" placeholder="-" required autocomplete="off">

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgExecutant_Reparatie">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgExecutant_Reparatie }}</div>
            </div>
        </form>

    </div>
</div>

<input ng-show="main.admin" maxlength="40" class="form-control" type="text" name="exec" ng-model="exec" ng-value="exec=main.username"
    placeholder="-" required autocomplete="off">


<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">

        <form id="submit11" ng-submit="editRecarcasare.updateObservatii_Asamblare(newObservatii_Asamblare, editRecarcasare.observatii_asamblareForm.observatii_asamblare.$valid)"
            name="editRecarcasare.observatii_asamblareForm" novalidate>
            <label>Observatii Lab. Asamblare:
                </em></label>
            <textarea maxlength="170" ng-disabled="!main.asamblare" id="submit-holder11" style="resize: none;" class="form-control"
                type="text" name="observatii_asamblare" ng-model="newObservatii_Asamblare" placeholder="-" required
                autocomplete="off"></textarea>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgObservatii_Asamblare">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgObservatii_Asamblare }}</div>
            </div>

        </form>

    </div>
</div>
<hr class="visible-print-block">

<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-12">

        <form style="max-width: 110px;" class="optiuni" novalidate>
            <label style="color:#f00;">Taxa Urgenta:</label>
            <input style="text-align: center;border: none;" readonly class="form-control" ng-class="newTaxa_Urgenta_Cabinet"
                name="taxa_urgenta_cabinet" ng-model="newTaxa_Urgenta_Cabinet" required>
        </form>


        <form id="submit8" style="max-width: 110px;float:left;display: table;margin-right: 5px;" ng-submit="editRecarcasare.updateTaxa_Constatare(newTaxa_Constatare,
editRecarcasare.taxa_constatareForm.taxa_constatare.$valid)"
            name="editRecarcasare.taxa_constatareForm" novalidate>
            <label>Taxa Constatare:</label>
            <input style="text-align: center;" maxlength="2" ng-disabled="!main.asamblare" id="submit-holder8" class="form-control"
                type="text" name="taxa_constatare" ng-model="newTaxa_Constatare" placeholder="nu" required autocomplete="off">

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgTaxa_Constatare">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgTaxa_Constatare }}</div>
            </div>
        </form>

        <div ng-show="main.asamblare">

            <form class="hidden-print" id="submit10" style="width:5%;display: table;" ng-submit="editRecarcasare.updateGarantie_Asamblare(newGarantie_Asamblare,
        editRecarcasare.garantie_asamblareForm.garantie_asamblare.$valid)"
                name="editRecarcasare.garantie_asamblareForm" novalidate>
                <label>F/G:</label>
                <input maxlength="3" ng-disabled="!main.asamblare" id="submit-holder10" class="form-control" type="text"
                    name="garantie_asamblare" ng-model="newGarantie_Asamblare" placeholder="-" required autocomplete="off">

                <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgGarantie_Asamblare">
                    <div class="alert alert-danger">{{ editRecarcasare.errorMsgGarantie_Asamblare }}</div>
                </div>
            </form>
        </div>
        <form class="hidden-print" style="margin-top:30px;clear: both;" id="submit12" ng-submit="editRecarcasare.updateObservatii_recarcasare_Intern(Observatii_recarcasare_Intern, editRecarcasare.observatii_recarcasare_internForm.observatii_recarcasare_intern.$valid)"
            class="col-md-12" name="editRecarcasare.observatii_recarcasare_internForm" novalidate>
            <label>Adaugare Dep. Asamblare: <em>(vizibil doar intern, nu se printeaza)</em></label>
            <textarea ng-disabled="!main.asamblare" id="submit-holder12" style="resize: none;" class="form-control"
                type="text" name="observatii_recarcasare_intern" ng-model="Observatii_recarcasare_Intern" required
                autocomplete="off"></textarea>

            <div class="row show-hide-message" ng-show="editRecarcasare.errorMsgObservatii_recarcasare_Intern">
                <div class="alert alert-danger">{{ editRecarcasare.errorMsgObservatii_recarcasare_Intern }}</div>
            </div>

        </form>

        <form onsubmit="doPrint()" class="visible-print-block" id="form1" style="float:right;" name="editRecarcasare.finalizat_serviceForm"
            ng-submit="editRecarcasare.updateFinalizat_Service(newFinalizat_Recarcasare, editRecarcasare.finalizat_serviceForm.finalizat_recarcasare.$valid)"
            novalidate>
            <label for="Finalizat Service">Data si semnatura executant </label>
            <input id="recarcasare-holder1" type="text" class="form-control" name="finalizat_recarcasare" ng-model="newFinalizat_Recarcasare">.........................................

        </form>


    </div>
</div>
<hr class="visible-print-block">

<h3 class="visible-print-block" style="max-width: 100%;display: inline-block;color:#337ab7;">V. Aparatul Functioneaza
    Corespunzator:
</h3>
<hr class="visible-print-block">

<div class="row visible-print-block">
    <div class="col-sm-12">

        <div style="float:left;width: 50%;display:table;padding-left:30px;">
            <p>Predat audiolog <br>(data si semnatura) <br> ................................</p>
        </div>
        <div style="float:right;width: 49%;display: table;padding-right:30px;">
            <p style="float:right;">Primit pacient <br>(semnatura) <br> ......................</p>
        </div>
    </div>
</div>
<hr class="visible-print-block">

<div style="text-align:center;" class="row visible-print-block">
    <div class="col-sm-12">
        <p>Perioada de efectuare a reparatiei este de maximum 15 zile pentru aparatele in garantie. Postgarantia
            pieselor
            inlocuite este de 3 luni de la data returnarii aparatului. Pacientul beneficiaza de garantie numai daca
            foloseste
            aparatul corect, conform instructiunilor de folosire aprobate de producator.</p>
    </div>
</div>

<div ng-show="main.asamblare">
    <button ng-click="addExec()" style="float: right;clear: both;" form="form1" ng-disabled="editRecarcasare.disabled"
        class="btn btn-info btn-sm hidden-print" type="submit" ng-model="newFinalizat_Recarcasare" name="finalizat_recarcasare"
        id="recarcasare1">Printeaza</button>

</div>
<br>
<br>

<a class="btn btn-info btn-sm hidden-print" style="float:right;margin-bottom: 20px;" ng-click="Back()">Pagina
    Precedenta</a>


</form>

<button ng-show="main.authorized" type="button" ng-click="editRecarcasare.deleteRecarcasare();" class="btn btn-danger">Sterge
    Recarcasare</button>
<div class="row show-hide-message" ng-show="editRecarcasare.successDeleteRecarcasare">
    <div style="width: 40%;
    padding: 9px;
    text-align: center;
    margin: 0 auto;" class="alert alert-success">{{
        editRecarcasare.successDeleteRecarcasare }}</div>
</div>

<div class="row show-hide-message" ng-show="editRecarcasare.errorMsgDeleteRecarcasare">
    <div style="width: 40%;
    padding: 9px;
    text-align: center;
    margin: 0 auto;" class="alert alert-danger">{{
        editRecarcasare.errorMsgDeleteRecarcasare }}</div>
</div>

<br>
<br>
<br>
<br>
<br>